<div class="container">
  <% if @text.class == Statement %>
     <%= @text.text %>
  <% else %>
    <ul>
      <% @text.each do |word| %>
         <li><%= word.text %></li>
      <% end %>   
    </ul>
  <% end %>

  <form action="/" method="get">
     <input type="submit" value="Return" class="button">
  </form>
</div>
