<div class="container">
  <h2>Forms</h2>

  <form action="/cool_url" method="get">
    <input type="text" name="id" placeholder="Enter statement id">
    <input type="submit" value="Submit">
  </form>

  <form action="/cool_url" method="post">
    <input type="text" name="text" placeholder="Enter something">
    <input type="submit" value="Submit">
  </form>
</div>
