<div class="container">
  <h2>Attack our server!</h2>

  <form action="/cool_url" method="post">
    <input type="text" name="text" placeholder="Enter something..." class="field">
    <input type="submit" value="     " class="button">
  </form>
</div>

